<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Abrir Menú</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#home" class="navbar-brand">IEPA</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" style="float:right;">
      <li><a href="#user" class="navbar-group-item navbar-group-item-user"> Usuarios </a></li>
      <li><a href="#community" class="navbar-group-item navbar-group-item-community"> Comunidades </a></li>
      <li><a href="#craftsman" class="navbar-group-item navbar-group-item-craftsman"> Artesanos </a></li>
      <li><a href="#category" class="navbar-group-item navbar-group-item-category"> Categorías </a></li>
      <li><a href="#material" class="navbar-group-item navbar-group-item-material"> Materiales </a></li>
      <li><a href="#product" class="navbar-group-item navbar-group-item-product"> Productos </a></li>
      <li><a href="#news" class="navbar-group-item navbar-group-item-news"> Noticias de IEPA </a></li>
      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Redes Sociales <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a href="https://www.facebook.com/iepaartesaniaindigena" target="_blank">FaceBook</a></li>
          <li role="presentation"><a href="http://www.youtube.com/user/ArteIndigenaIepa" target="_blank">YouTube</a></li>
        </ul>
      </li>   
      <li><a class="logout"> Salir </a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div><!-- /.container -->