<div class="row">           
  <div class="col-xs-3 col-sm-3">    
	<label>Escoja el tipo de búsqueda</label>
  </div>
  <div class="col-xs-2 col-sm-2">
    <form action="">
		<select name="search" class="searchoption"> 
          <option value="id">ID</option> 	
          <option value="name">Título</option> 		
    	</select>
	</form>
  </div>
  <div class="col-xs-5 col-sm-5" style="text-align: center;">
	<input type="text" class="searchtext"> </input>
	<span class="glyphicon glyphicon-search"></span>
	</br>
    <label id="searcherror" class= "hidden alert alert-danger errorMsg2" >Por favor compruebe los datos a buscar</label> 
  </div>
</div>
